<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Play</title>
</head>
<body>
	<%- include('../partials/header') %>
	<script src="https://unpkg.com/wavesurfer.js"></script>
	<section id="content">
		<div id="waveform"></div>
		<p align="center">
			<button class="btn btn-primary" onclick="wavesurfer.playPause()">
				<i class="glyphicon glyphicon-play"></i> Play
			</button>
		</p>
	</section>
	<br>
	<section id="discussion">
		<h3>Discussion Section</h3>
		<form action="/comment" method="post" id="postCommentForm" onsubmit="refreshComments()"'>
			<input type="text" name="comment" placeholder="Add to the discussion..." required />
			<input type="hidden" name="podcastID" value="<%=podcastID%>"/>
			<input type="submit" value="Add comment" />
		</form>
		<br>
		<div id="comments">
			<% comments.forEach(function(comment) { %>
			<div class="top-level-comment">
				<div class="plus-minus-btns">
					<!-- Want to implement some sort of comment voting feature -->
				</div>
				<div class="comment-block">
					<div class="user-info">
						<b><%=comment.commenter%></b>
					</div>
					<div class="comment">
						<p><%=comment.message%></p>
					</div>
					<div class="comment-actions">
						<button type="button">Reply</button>
						<button type="button">Tip</button>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</section>

	<script type="text/javascript">
		function refreshComments(){
			//TODO
		}
	</script>
	<script type="text/javascript">
		//TODO this script should go in its own file
		// taken from authentication. need to refactor
		function post(path, data) {
			return window.fetch(path, {
				method : 'POST',
				headers : {
					'Accept' : 'application/json',
					'Content-Type' : 'application/json'
				},
				body : JSON.stringify(data)
			})
		}

		let wavesurfer = WaveSurfer.create({
			container : '#waveform',
			waveColor : 'violet',
			progressColor : 'purple'
		})
		let a = "<%=adPath%>"
		let p = "<%=epPath%>"
		let autoPlay = true
		//need to run `http-server --cors` for access to file server
		//if there's a linked ad
		if (a != null) {
			console.log(a)
			wavesurfer.load("uploads/" + a)
			wavesurfer.on('ready', function() {
				wavesurfer.play();
			})
			let playNext = true
			wavesurfer.on('finish', function() {
				if (playNext) {
					post('/payAuthor', {
						campaignID : '<%=campaignID%>',
						adID : '<%=adID %>',
						podcastID : '<%=podcastID %>'
					})
					wavesurfer.load("uploads/" + p)
					playNext = false;
				}
			})
		}
		//if there is no linked ad
		else {
			wavesurfer.load("uploads/" + p)
			wavesurfer.on('ready', function() {
				wavesurfer.play();
			})
		}
	</script>
</body>
</html>